@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

*{
    font-family: 'Georama', sans-serif;
    font-weight:1000;
    font-size: 1em; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 20px;  
}